/MisExes
/Objs
/.vs
/BamTang05/src/swat/old
/BamTang05/src/vistas/old
/BamTang05/src/tool/old
/BamTang05/src/old
/BamTang05/src/swat/windows/old
/comun/src/swat/old
/comun/src/swat/texturas/old
/comun/src/swat/texturas/new
