/TestBamTang/MisExes
/TestBamTang/Objs
/TestBamTang/.vs
/TestBamTang/BamTang05/src/swat/old
/TestBamTang/BamTang05/src/vistas/old
/TestBamTang/BamTang05/src/tool/old
/TestBamTang/BamTang05/src/old
/TestBamTang/BamTang05/src/swat/windows/old
/TestBamTang/comun/src/swat/old
/TestBamTang/comun/src/swat/texturas/old
/TestBamTang/comun/src/swat/texturas/new
/TestBamTang/comun/src/tool/strings/old
